  
.flex-container {
    margin-top: 30px;
    display: flex;
    margin-right: 2rem;
}

.flex-child {
    flex: 1;
    margin-left:4rem;
    margin-top: 5rem;
    text-align: start;
}  

.map{
    width:600PX;
    height:450PX;
    border:0; 
}
@media screen and (max-width:850px) {
    .flex-container {
        margin-top: 30px;
        display: flex;
        flex-direction: column;
    }
    .map{
        width:95%;
        height:450PX;
        border:0; 
    }
}
address{
    font-style: normal;
}